aside{
   width: 267px;
   padding-left: 58px;

   ul{
      position: fixed;
   }

   li{
      position: relative;
      width: $aside-width;

      &.second-level{
         a{
            margin-left: 16px;
            font-size: $text-m;
            line-height: 3.6rem;
            padding:0 12px 0 0;
         }
      }

      &.third-level{
         a{
            margin-left: 32px;
            font-weight: 400;
            font-size: $text-m;
         }
      }

      &:before{
         content: "";
         width: $gutter-l;
         height: 100%;
         position: absolute;
         top: 0px;
         left:$gutter-l*-1;
         background: $color-background;
      }

      &:hover{

         background: $color-background-active;

         &:before{
            background: $color-background-active;
         }

      }
      &.active{
         a{
            color: $color-active;
            font-weight: 600;
         }
      }

      &.selected{
         a strong{
            color: $color-active;
         }
      }

      a{
         display: block;
         font-size: $text-l;
         color: $color-link;
         line-height: 3.6rem;
         padding:0 12px 0 0;
         position: relative;
         white-space: nowrap;
         overflow: hidden;
         &:hover{
            color: $color-active;
         }
      }
   }
}
