$aside-width: 220px;

.container{
   display: flex;
   width: 100vw;
   margin-top: $header-height;
   padding: $gutter-l;
   min-height: calc(100vh - 105px);
}

.home .container{
   display: block;
   padding: 0px;
   min-height: calc(100vh - 121px);
}
