$header-height: 65px;

header{
   display: block;
   width: 100vw;
   height: $header-height;
   border-bottom: 2px solid $color-border;
   background: $color-background;
   position: fixed;
   top: 0px;
   z-index: 3;

   >div{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items:center;
      height: 100%;
      width: 100%;
      margin:0 auto;
   }

   nav a{
      color: $color-link;
      font-size: $text-m;
      position: relative;
      margin-right: 20px;
      &:hover{
         color: $color-active;
      }
   }

}


#finch-logo{
   width: 27px;
   height: 30px;
   background:url('../images/finch.svg') no-repeat;
   background-size: 100% auto;
   display: block;
   text-indent: -4700px;
   margin:0 $gutter-l;
}
