$header-height: 65px;

header{
   display: block;
   width: 100vw;
   height: $header-height;
   border-bottom: 2px solid $color-border;
   background: $color-background;
   position: fixed;
   box-sizing: border-box;
   top: 0px;
   z-index: 3;

   >div{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items:center;
      height: 100%;
      width: 100%;
      margin:0 auto;
   }

   h1{
      font-weight: 300;
      margin:0px;
      padding:0px;
   }

   nav a, h1{
      color: $color-link;
      font-size: $text-l;
      position: relative;
      margin-right: 40px;
   }
   
   nav a:hover{
      color: $color-active;
   }

}

.home header{
   border-color: #fff;
}

#finch-logo{
   width: 30px;
   height: 30px;
   background:url('../images/finch.svg') no-repeat;
   background-size: 100% auto;
   display: block;
   text-indent: -4700px;
   margin:0 $gutter-l;
}
