section{
   width: 660px;
   max-width: 660px;
   padding-left: 68px;
}

aside + section{
   padding:0 $gutter-l;
}

section img{
   display: block;
}

section > blockquote{
   display: block;
   position: relative;
   max-width: 420px;
   border: 2px solid $color-border;
   margin: 20px 0;
   overflow: hidden;

   img{
      display: block;
      max-width: 420px;
   }

   >blockquote{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background: rgba(255,255,255,0.9);
      z-index: 2;
      text-align: center;
      padding: 10px 0;
      box-sizing: border-box;

      p{
         margin: 0px;
         font-weight: 700;
      }

   }

}
