section.home{
   width: 100%;
   max-width: 680px;
   margin:0 auto;
   padding:0;

   #search{
      margin-bottom: 60px;

      input{
         width: 100%;
         height: 42px;
      }
      svg{
         top:14px;
      }
   }

   >ul{
      width: 100%;
      display: flex;

      li{
         width: 33%;
         text-align: center;

         a{
            font-size: $text-l;
         }
      }
   }

}
