{% for nav_item in nav %}
   {% if nav_item.children and nav_item.active %}
   <aside>
      <div>
         <ul class="sidenav">
            {% for nav_child in nav_item.children %}
               <li class="first-level">
                  <a title="{{ nav_child.title }}" href="{{ nav_child.url }}">
                     {{ nav_child.title }}
                  </a>
               </li>
               {% if page in nav_child.children %}
                  {% for nav_grandchild in nav_child.children %}
                     <li class="second-level"><a href="{{ nav_grandchild.url }}">{{ nav_grandchild.title }}</a></li>
                  {% endfor %}
               {% endif %}
               {% if nav_child == page %}
                  {% if nav_child.children %}
                     {% for nav_grandchild in nav_child.children %}
                        <li class="second-level"><a href="{{ nav_grandchild.url }}">{{ nav_grandchild.title }}</a></li>
                     {% endfor %}
                  {% else %}
                     {% for toc_item in page.toc %}
                        <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                     {% endfor %}
                  {% endif %}
               {% endif %}
            {% endfor %}
         </ul>
      </div>
   </aside>
   {% endif %}
{% endfor %}
