$color-background: #fff;
$color-background-active: #F7F9FA;

$color-title: #64686E;
$color-body: #7E8287;
$color-link: #2E4A72;
$color-active: #308FFF;
$color-highlight: #F9D086;

$color-border: #B3C0CA;
